<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>278219501560-drlo4f27vvgf6ncpt90tfrb46ut3bhs5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.278219501560-drlo4f27vvgf6ncpt90tfrb46ut3bhs5</string>
	<key>API_KEY</key>
	<string>AIzaSyClUDKnVeaMI8KV4b2okt0V_90CMGyZZAU</string>
	<key>GCM_SENDER_ID</key>
	<string>278219501560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.technomark.Exam2</string>
	<key>PROJECT_ID</key>
	<string>exam2-817e0</string>
	<key>STORAGE_BUCKET</key>
	<string>exam2-817e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:278219501560:ios:b38abc6f6ade1e3444b00d</string>
</dict>
</plist>